<div class="alert alert-info" ng-show="hasValidationErrors()">
  <ul>
    <li ng-repeat="validationError in validationErrors">
      {{validationError.field}}  {{validationError.message}}
    </li>
  </ul>
</div>

<div class="alert alert-info" ng-show="showMessage">
  {{ message }}  
</div>
<div class="panel panel-default" >
  <div class="panel-body" >
    <form ng-submit="provideFeedback()">
      <fieldset class="form-group">
        <label for="feedback" >Feedback: </label>
        <textarea class="form-control" id="feedback" rows="3" ng-model="feedback.feedbackText"></textarea>
      </fieldset>
      <fieldset class="form-group" >
        <label for="author">Author: </label>
        <input type="text" id="author" ng-model="feedback.author"/>
      </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="feedback in feedbacks" >
      {{feedback.feedbackText}}
    </li>
  </ul>
</div>
